{%extends 'layout/layout.html'%}
{%load static%}
{%block section%}
    <!-- about section desing -->
    <section class="skills" id="skills"></section>


    <!-- education section design -->
    <section class="education" id="education">
        <h2 class="heading">Mes <span>Services</span><span class="animate scroll" style="--i:1"></span></h2>

        <div class="education-row">
            <div class="education-column">
                <h3 class="title">Développement<span class="animate scroll" style="--i:2"></span></h3>

                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <h3>Développement</h3>
                            <p>
                                Le concept de développement désigne l'ensemble des transformations techniques, 
                                sociales, territoriales, démographique et culturelles accompagnmat la croissance de 
                                la production. Il traduit l'aspect structurel et qualitatif de 
                                la croissance et peut être associé à l'idée de progrès économique et social.
                            </p>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <h3>Création des Contenus</h3>
                            <p>
                                la création de contenu, c'est quoi? Il s'agit de produire du contenu qui attire et retient 
                                l'attention d'un cible. La création de contenu permet à une marque de se distnguer à l'aide de textes, de vidéos, 
                                de photos et d'infographies, entre autres, qui int une valuer pour cette cible.
                            </p>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <h3>Web Marketing</h3>
                            <p>
                                Le web marketing a pour fonction d'augmenter le trafic et les ventes d'un site internet.
                                 Au carrefour de plusieurs compétences (Web, marketing), le web marketeur élebore, 
                                adapte et met en place une stratégie aux besoins et attentes de son entreprise.
                            </p>
                        </div>
                    </div>
                    <span class="animate scroll" style="--i:3"></span>
                </div>
            </div>

            <div class="education-column">
                <h3 class="title">Experience<span class="animate scroll" style="--i:5"></span></h3>

                <div class="education-box">
                    
                    <div class="education-content">
                        <div class="content">
                            <h3>Designer UI/UX</h3>
                            <p>
                                Le designer UX (User eXperience) et le designer UI (User Interface) et une spécialisation récente du métier de web designer. 
                                Le premier s'intéresse à l'expérience utilisateur, le second à la conception de l'interface produit.
                            </p>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <h3>Modélisation</h3>
                            <p>
                                La modélisation est la conception et l'utilisation d'un modèle. Selon son objectif (représentation simplifiée, 
                                compréhension, prédiction) et les moyens utilisés.
                            </p>
                        </div>
                    </div>

                    <span class="animate scroll" style="--i:6"></span>
                </div>
            </div>


        </div>
    </section>

    <!-- skills section design -->
    <section class="skills" id="skills"></section>

{%endblock%}